<?xml version="1.0"?>
<!-- 
/**
 * @category   ASPerience
 * @package    Asperience_Printorderline
 * @author     ASPerience - www.asperience.fr
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Asperience_Printorderline>
            <version>0.1.6</version>
        </Asperience_Printorderline>
    </modules>

    <global>
        <models>
            <Asperience_Printorderline>
                <class>Asperience_Printorderline_Model</class>
            </Asperience_Printorderline>
        </models>
        <pdf>
        	<order>
        	</order>
        </pdf>
        <helpers>
            <printorderline>
                <class>Asperience_Printorderline_Helper</class>
            </printorderline>
        </helpers>
    </global>
	<admin>
        <routers>
            <Asperience_Printorderline>
                 <use>admin</use>
                <args>
                    <module>Asperience_Printorderline</module>
                    <frontName>printorderline</frontName>
                </args>
            </Asperience_Printorderline>
        </routers>
    </admin>

	<adminhtml>
		<translate>
            <modules>
                <Asperience_Printorderline>
                    <files>
                        <default>Asperience_Printorderline.csv</default>
                    </files>
                </Asperience_Printorderline>
            </modules>
        </translate>
        
        <events>
        	<adminhtml_block_html_before>
                <observers>
                    <asperience_printorderline>
                        <class>Asperience_Printorderline_Model_Observer</class>
                        <method>addOptionToSelect</method>
                    </asperience_printorderline>
                </observers>
            </adminhtml_block_html_before>
		</events>
	</adminhtml> 
</config>
